@charset "UTF-8";
@font-face {
    font-family: "aventer";
    src: url(AVENTENA.ttf) format(truetype);
}
@font-face {
    font-family: "transformes";
    src: url(Transformers\ Movie.ttf) format(opentype);
}
body{
    background: rgb(0, 0, 0);
}
*{
    margin: 0;
    padding: 0;
}
:root{
    --cor1:#000B19;
    --cor2:#7e0097;
    --cor3: #e0f7fa;
    --cor4: #4db6ac;
    --cor5: #004d40;
    --cor6: #003d33;
    --cor7: #00251a;
    --cor8: #d0d0d0;
    --cor9: #b2dfdb;
    --cor10: #ffffff;
    --font1:"aventer";
    --font2:"transformes";
}
div#dv-principal{
    background-image:linear-gradient(to left, var(--cor2),var(--cor1),var(--cor1));
    width: 0%;
    height: 0vh;
    z-index: 300;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    left: 100%;
    transform: translate(-100%);
    animation: fundoanima 1.5s;
}
div#dv-principal>img{
    filter: drop-shadow(0 0 5px #700bf5);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0px;
    height: 0px;
    z-index: 300;
    animation: logoanima 1.5s;
}

header{
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 100px;
    background-image:linear-gradient(to left, var(--cor2),var(--cor1),var(--cor1));
    box-shadow: 0 1px 20px var(--cor2);
    animation: cab-animadas 10s infinite;
}
header>div>img#img1{
    width: 70px;
    position: relative;
    top: 15px;
    cursor: no-drop;
}
header>div>nav{
    display: inline-block;
    position: relative;
    top: 10px;
}
header>div>nav>a{
    margin: 0 10px;
    text-decoration: none;
    color: #c7027c;
    font-family: var(--font1);
}
header>div>nav>a:hover{
    border-bottom: 3px solid #d60084;
    border-radius: 2px;
    color: #700045;
    animation: fontI 110ms;
}
header>div>div{
    /*menu*/width: 0px;
    height: 0px;
    position: absolute;
    left: 94%;
    top: 50px;
}
.animaC{
    width: 250px;
    height: 40px;
    position: absolute;
    left: 94%;
    top: 50px;
    border-radius: 5px 0px 20px 5px;
    transform: translate(-100%);
    margin:auto 0;
    box-shadow:  2px 2px 10px black;
    border:2px solid #c103e7;
    background-color: #c103e7;
    animation: munuanima 500ms;
}
.animaF{
    width: 0px;
    height: 0px;
    position: absolute;
    left: 94%;
    top: 50px;
    transform: translate(-100%);
    margin:auto 0;
    border:none;
    background-color: transparent;
    animation: munuanimaf 500ms;
}
header>div>div>img{
    position: absolute;
    left: 100%;
    top:-20px;
        cursor: pointer;
    }
div#dv-tema{
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    height: 0px;
    width: 0px;
    background-color: #700045;
    border-radius: 50px;
}
.ef-temaA{
    width: 50px;
    height: 20px;
    animation: dAtema 500ms;
}
.ef-temaF{
    width: 0px;
    height: 0px;
    animation: dFtema 500ms ;
}

div#dv-tema>div{
    width: 0px;
    height: 0px;
    background: #000000;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #161616;
    position: relative;
    top: 0%;
    left: 0%;
    cursor: pointer;
}

.dv-temaW{
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #818181;
    position: relative;
    top: 0%;
    left: 100%;
    animation: dvtemaW 200ms;
}
.dv-temaB{
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #818181;
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(-100%);
    animation: dvtemaB 200ms;
}
.dv-temaF{
    width: 20px;
    height: 20px;
    background: #000000;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #181818;
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(-100%);
    animation: dvtemaf 500ms;
}
@keyframes dvtemaf{
    0%{
        position: relative;
        top: 0%;
        left: 100%; transform: translate(-100%);background-color: white;
    }
    100%{
        position: relative;
        top: 0%;
        left: 0%;
        left: 100%; transform: translate(-100%);background-color: rgb(0, 0, 0);
    }
}
main{
    color: white;
    border: none;
    width: 80vw;
    margin: auto 10vw auto 15vw;
    position: relative;
    top: 200px;
}
main>div>p{
    cursor: default;
    font-size: 1.2vw;
}
main>div.dvs-c{
    width: 10vw;
    height: 10vw;
    background-color: #000B19;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    animation: dvsposit 3s ;
}
main>div.dvs-c:hover{
    color: #d60084;
}
main>div.dvs-c>a>img{
    width: 10vw;
    height: 10vw;
    border-radius: 7px;
    box-shadow: 0 0 12px #700045;
    border: 2px solid #700045;
}
main>div.dvs-c>a>img:hover{
    width: 9vw;
    height: 9vw;
    margin: 0px 7px;
    box-shadow: 0 0 12px #ff009d;
    border: 2px solid #ff009d;
    border-radius: 20px;
    animation: contrairanima 200ms;
}
main>div.dvs-c>p{
    font-family: var(--font1);
}
div#dv-f{
    width: 80%;
    height: 400px;
    margin: auto;
    position: relative;
    top: 300px;
    border-radius: 10px;
    background-color: #000B19;
}
div#dv-f>img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
}
footer{
    width: 100%;
    height: 100px;
    background-image:linear-gradient(to left, var(--cor2),var(--cor1),var(--cor1));
    position: relative;
    top: 50vh;
    color: white;
}
footer>h2{
    color: #f1edf0;
    position: relative;
    top: 30%;
    font-family: var(--font2);
    cursor: default;
}
footer>h2>strong{
    color: #d60084;
    font-size: 20px;
    font-family: var(--font2);
    text-decoration: underline;
}
/*segundo tema aq*/
.segundotema{
    div#dv-principal {
        background-image: linear-gradient(to left, var(--cor3), var(--cor4), var(--cor4));
        box-shadow: 0 0 10px var(--cor9);
        animation: fundoanima2 1.5s;
    }
    div#dv-principal > img {
        filter: drop-shadow(0 0 5px var(--cor4));
        animation: logoanima2 1.5s;
}
    header {
        background-image: linear-gradient(to left, var(--cor3), var(--cor4), var(--cor4));
        box-shadow: 0 1px 20px var(--cor4);
        animation: cab-animadas2 10s infinite;
    }
    header > div > nav > a {
        color: var(--cor5);
    }
    header > div > nav > a:hover {
        border-bottom: 3px solid var(--cor6);
        color: var(--cor7);
        animation: fontI2 110ms;
    }
    .animaC {
        box-shadow: 2px 2px 10px var(--cor9);
        border: 2px solid var(--cor4);
        background-color: var(--cor4);
        animation: munuanima2 500ms;
    }
    .animaF {
        background-color: transparent;
        animation: munuanimaf2 500ms;
        border: none;
    }
    div#dv-tema {
        background-color: var(--cor7);
    }
    .ef-temaA {
        background-color: var(--cor7);
        animation: dAtema2 500ms;
    }
    .ef-temaF {
        background-color: var(--cor7);
        animation: dFtema2 500ms;
        border: none;
    }
    div#dv-tema > div {
        background: var(--cor3);
        box-shadow: 0px 0px 5px var(--cor8);
    }
    .dv-temaW {
        background: var(--cor10);
        box-shadow: 0px 0px 5px var(--cor8);
        animation: dvtemaW2 200ms;
    }
    .dv-temaB {
        background: var(--cor10);
        box-shadow: 0px 0px 5px var(--cor8);
        animation: dvtemaB2 200ms;
    }
    .dv-temaF {
        background: var(--cor7);
        box-shadow: 0px 0px 5px var(--cor8);
        animation: dvtemaf2 500ms;
    }
    main {
        color: var(--cor7);
    }
    main > div.dvs-c {
        background-color: var(--cor9);
    }
    main > div.dvs-c:hover {
        color: var(--cor4);
    }
    main > div.dvs-c > a > img {
        box-shadow: 0 0 12px var(--cor3);
        border: 2px solid #4db6ac;
    }
    main > div.dvs-c > a > img:hover {
        box-shadow: 0 0 12px var(--cor4);
        border: 2px solid #4db6ac;
        width: 9vw;
        animation: contrairaniama2 250ms;
}
    main > div.dvs-c > p {
        font-family: var(--font1);
    }
    div#dv-f {
        background-color: var(--cor3);
    }
    div#dv-f > img {
        box-shadow: 0 0 10px var(--cor8);
    }
    footer {
        background-image: linear-gradient(to left, var(--cor4), var(--cor3), var(--cor3));
        color: var(--cor10);
    }
    footer > h2 {
        color: var(--cor7);
    }
    footer > h2 > strong {
        color: var(--cor6);
    }
}
/*animaçoes originais*/
@keyframes fontI {
    0%{border-bottom: 0px solid #d6008400;}
    100%{border-bottom: 3px solid #d60084;}
}
@keyframes cab-animadas{
    0%{ box-shadow: 0 1px 20px var(--cor2);}
    50%{box-shadow: 0 1px 20px #36018b;}
    100%{ box-shadow: 0 1px 20px var(--cor2);}
}
@keyframes contrairanima {
    0%{
    width: 10vw;
    height: 10vw;
    margin: 0px 0px;
    box-shadow: 0 0 12px #700045;
    border: 2px solid #700045;
    border-radius: 10px;
}
    100%{
    width: 9vw;
    height: 9vw;
    margin: 0px 7px;
    box-shadow: 0 0 12px #ff009d;
    border-radius: 20px;
    border: 2px solid #ff009d;
}
}
@keyframes munuanima{
    0%{width: 0px;height: 0px;opacity: 0;}
    50%{width: 250px;height: 0px;}
    100%{width: 250px;height: 40px;}
}
@keyframes munuanimaf{
    0%{width: 250px;height: 40px; border:2px solid #c103e7;}
    50%{width: 250px;height: 0px; border:2px solid #c103e7;}
    100%{width: 0px;height: 0px;opacity: 1;background-color: transparent; border:0px solid #c103e7;}
}
@keyframes logoanima {
    0%{ filter: drop-shadow(0 0 5px #700bf5); width: 500px;position: relative;top: 50%;height: 400px;}
    40%{filter: drop-shadow(0 0 20px rgb(255, 255, 255));width: 500px;position: relative;top: 50%}
    60%{ filter: drop-shadow(0 0 5px   #ffffff);width: 500px;height: 400px;}
    100%{position: relative;top: 50%; height: 0;width: 0;}
}
@keyframes fundoanima {
    0%{
        width: 100%;
        height: 100vh;
        opacity: 1;
}
    50%{ width: 100%;
        height: 100vh;
        opacity: 1;

    }
    100%{
        width: 100%;
        height: 0vh;

}
}
@keyframes dvsposit{
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes dAtema{
    0%{ width: 0px;height: 0px;}
    50%{ width: 50px;height: 0px;}
    100%{ width: 50px;height: 20px;}
}
@keyframes dFtema{
    0%{ width: 50px;height: 20px;}
    50%{ width: 50px;height: 0px;}
    100%{ width: 0px;height: 0px;}
}
@keyframes dvtemaW{
    0%{
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%);
}
    100%{ position: relative;
        top: 0%;
        left: 100%; transform: translate(-100%);background-color: white;}
}
@keyframes dvtemaB{
    0%{position: relative;
        top: 0%;
        left: 100%; transform: translate(-100%);background-color: white;
}
    100%{position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%); }
}
/*animaçoes secudarias*/
@keyframes fontI2 {
    0% { border-bottom: 0px solid var(--cor8); }
    100% { border-bottom: 3px solid var(--cor6); }
}
@keyframes cab-animadas2 {
    0% { box-shadow: 0 1px 20px var(--cor4); }
    50% { box-shadow: 0 1px 20px var(--cor5); }
    100% { box-shadow: 0 1px 20px var(--cor4); }
}
@keyframes fontI2 {
0% { border-bottom: 0px solid var(--cor8); }
100% { border-bottom: 3px solid var(--cor6); }
}

@keyframes cab-animadas2 {
0% { box-shadow: 0 1px 20px var(--cor4); }
50% { box-shadow: 0 1px 20px var(--cor5); }
100% { box-shadow: 0 1px 20px var(--cor4); }
}

@keyframes contrairaniama2 {
0% {
    width: 10vw;
    height: 10vw;
    margin: 0px 0px;
    box-shadow: 0 0 12px var(--cor3);
    border: 2px solid var(--cor4);
    border-radius: 10px;
}
100% {
    width: 9vw;
    height: 9vw;
    margin: 0px 7px;
    box-shadow: 0 0 12px var(--cor4);
    border-radius: 20px;
    border: 2px solid var(--cor4);
}
}

@keyframes munuanima2 {
0% { width: 0px; height: 0px; opacity: 0; }
50% { width: 250px; height: 0px; }
100% { width: 250px; height: 40px; }
}

@keyframes munuanimaf2 {
0% { width: 250px; height: 40px; border: 2px solid var(--cor4); }
50% { width: 250px; height: 0px; border: 2px solid var(--cor4); }
100% { width: 0px; height: 0px; opacity: 1; background-color: transparent; border: 0px solid var(--cor4); }
}

@keyframes logoanima2 {
0% { filter: drop-shadow(0 0 5px var(--cor7)); width: 500px; position: relative; top: 50%; height: 400px; }
40% { filter: drop-shadow(0 0 20px var(--cor10)); width: 500px; position: relative; top: 50%; }
60% { filter: drop-shadow(0 0 5px var(--cor10)); width: 500px; height: 400px; }
100% { position: relative; top: 50%; height: 0; width: 0; }
}

@keyframes fundoanima2 {
0% { width: 100%; height: 100vh; opacity: 1; }
50% { width: 100%; height: 100vh; opacity: 1; }
100% { width: 100%; height: 0vh; }
}

@keyframes dvsposit2 {
0% { opacity: 0; }
50% { opacity: 0; }
100% { opacity: 1; }
}

@keyframes dAtema2 {
0% { width: 0px; height: 0px; }
50% { width: 50px; height: 0px; }
100% { width: 50px; height: 20px; }
}

@keyframes dFtema2 {
0% { width: 50px; height: 20px; }
50% { width: 50px; height: 0px; }
100% { width: 0px; height: 0px; }
}

@keyframes dvtemaW2 {
0% {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%);
}
100% {
    position: relative;
    top: 0%;
    left: 100%;
    transform: translate(-100%);
    background-color: var(--cor10);
}
}

@keyframes dvtemaB2 {
0% {
    position: relative;
    top: 0%;
    left: 100%;
    transform: translate(-100%);
    background-color: var(--cor10);
}
100% {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%);
}
}
@media screen and (max-width: 1000px) {
    main{
        width: 90% !important;
        margin: auto auto auto 10% !important;
    }
    div.dvs-c {
        width: 100px !important;
        height:100px !important;
        margin: auto !important;
    }
    div.dvs-c>a>img{
        animation: none !important;
        margin: 0  !important;
        width: 90px !important;
        height: 90px !important;
        -webkit-animation: none !important;
}
header>div>nav>a#ctt{
    font-size: 3.3vh !important;
}
}