@charset "UTF-8";
@font-face {
    font-family: "aventer";
    src: url(AVENTENA.ttf) format(truetype);
}
@font-face {
    font-family: "transformes";
    src: url(Transformers\ Movie.ttf) format(opentype);
}
body{
    background: rgb(0, 0, 0);
}
*{
    margin: 0;
    padding: 0;
}
:root{
    --cor1:#000B19;
    --cor2:#7e0097;
    --font1:"aventer";
    --font2:"transformes";
}
header{
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 100px;
    background-image:linear-gradient(to left, var(--cor2),var(--cor1),var(--cor1));
    box-shadow: 0 1px 20px var(--cor2);
    animation: cab-animadas 10s infinite;
}
header>div>img#img1{
    width: 70px;
    position: relative;
    top: 15px;
}
header>div>nav{
    display: inline-block;
    position: relative;
    top: 10px;
}
header>div>nav>a{
    margin: 0 10px;
    text-decoration: none;
    color: #c7027c;
    font-family: var(--font1);
}
header>div>nav>a:hover{
    border-bottom: 3px solid #d60084;
    border-radius: 2px;
    color: #700045;
    animation: fontI 110ms;
}
header>div>div{
    /*menu*/width: 0px;
    height: 0px;
    position: absolute;
    left: 94%;
    top: 20px;
}
.animaC{
    width: 250px;
    height: 40px;
    position: absolute;
    left: 94%;
    top: 20px;
    border-radius: 5px 0px 20px 5px;
    transform: translate(-100%);
    margin:auto 0;
    box-shadow:  2px 2px 10px black;
    border:2px solid #c103e7;
    background-color: #c103e7;
    animation: munuanima 500ms;
}
.animaF{
    width: 0px;
    height: 0px;
    position: absolute;
    left: 94%;
    top: 20px;
    transform: translate(-100%);
    margin:auto 0;
    border:none;
    background-color: transparent;
    animation: munuanimaf 500ms;
}
header>div>div>img{
        position: absolute;
        left: 100%;
        top: -20px;
    }
main{
    color: white;
    border: none;
    width: 80%;
    margin: auto;
    position: relative;
    top: 200px;
}
main>div.dvs-c{
    width: 150px;
    height: 150px;
    background-color: #000B19;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
}
main>div.dvs-c:hover{
    color: #d60084;
}
main>div.dvs-c>img{
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 0 12px #700045;
    border: 2px solid #700045;
}
main>div.dvs-c>img:hover{
    width: 140px;
    height: 140px;
    margin: 3px 3px;
    box-shadow: 0 0 12px #ff009d;
    border: 2px solid #ff009d;
    animation: contrairanima 50ms;
}
main>div.dvs-c>p{
    font-family: var(--font1);
}
div#dv-f{
    width: 80%;
    height: 400px;
    margin: auto;
    position: relative;
    top: 300px;
    border-radius: 10px;
    background-color: #000B19;
}
div#dv-f>img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
}
footer{
    width: 100%;
    height: 100px;
    background-image:linear-gradient(to left, var(--cor2),var(--cor1),var(--cor1));
    position: relative;
    top: 50vh;
    color: white;
}
footer>h2{
    color: #f1edf0;
    position: relative;
    top: 30%;
    font-family: var(--font2);
}
footer>h2>strong{
    color: #d60084;
    font-size: 20px;
    font-family: var(--font2);
    text-decoration: underline;
}
@keyframes fontI {
    0%{border-bottom: 0px solid #d6008400;}
    100%{border-bottom: 3px solid #d60084;}
}
@keyframes cab-animadas{
    0%{ box-shadow: 0 1px 20px var(--cor2);}
    50%{box-shadow: 0 1px 20px #36018b;}
    100%{ box-shadow: 0 1px 20px var(--cor2);}
}
@keyframes contrairanima {
    0%{ width: 100%;
        height: 150px;
        margin: 0px 0px;
        box-shadow: 0 0 12px #700045;
        border: 2px solid #700045;
    }
    100%{
        width: 140px;
        height: 140px;
        margin: 3px 3px;
        box-shadow: 0 0 12px #ff009d;
        border: 2px solid #ff009d;}
}
@keyframes munuanima{
    0%{width: 0px;height: 0px;opacity: 0;}
    50%{width: 250px;height: 0px;}
    100%{width: 250px;height: 40px;}
}
@keyframes munuanimaf{
    0%{width: 250px;height: 40px; border:2px solid #c103e7;}
    50%{width: 250px;height: 0px; border:2px solid #c103e7;}
    100%{width: 0px;height: 0px;opacity: 1;background-color: transparent; border:0px solid #c103e7;}
}
